@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0516;
  color: #F9F9F9;
}

.btn {
  background: linear-gradient(180deg, #DA26DE 0%, #7C31D2 100%);
}

.card {
  background-color: #150824;
  border-radius: 30px;
  padding: 20px;
}